{
  "openapi": "3.1.0",
  "info": {
    "title": "TC",
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://transitclock.goeuropa.net",
      "description": "dev server url"
    }
  ],
  "paths": {
    "/api/v1/key/f78a2e9a/agency/{agency}/command/vehicleToBlock": {
      "post": {
        "tags": [
          "vehicle",
          "block"
        ],
        "summary": "Add vehicles to block",
        "description": "Add vehicles to block",
        "operationId": "addVehicleToBlock",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/schedStopsAdhExport": {
      "post": {
        "tags": [
          "report",
          "export"
        ],
        "summary": "All stops Report",
        "description": "Order export for all stops schedule adherence report",
        "operationId": "addStopsReport",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/pushAvl": {
      "get": {
        "tags": [
          "operation",
          "vehicle",
          "avl"
        ],
        "summary": "Reads in a single AVL report specified by the query string parameters",
        "description": "Reads in a single AVL report specified by the query string parameters.",
        "operationId": "pushAvlData",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "VehicleId. Unique identifier of the vehicle.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t",
            "in": "query",
            "description": "GPS epoch time in msec.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude of AVL reporte. Decimal degrees.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude of AVL reporte. Decimal degrees.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "s",
            "in": "query",
            "description": "Speed of AVL reporte. m/s.",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "h",
            "in": "query",
            "description": "Heading of AVL report. Degrees. 0 degrees=North. Should be set to Float.NaN if speed not available",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "assignmentId",
            "in": "query",
            "description": "Indicates the assignmet id of the AVL report according to the assingment tyoe. For example, if assingment type is ROUTE_ID, the assingment ID should be one route_id loaded in the system.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignmentType",
            "in": "query",
            "description": "Indicates the assignmet type of the AV report. This parameter can take the next values: <ul><li>ROUTE_ID</li><li>TRIP_ID</li>TRIP_SHORT_NAME</li> </ul>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "operation",
          "vehicle",
          "avl"
        ],
        "summary": "Reads in a single AVL report in the message body.",
        "description": "Reads in a single AVL report specified by the query string parameters. <p>{avl: [{v: \"vehicleId1\", t: epochTimeMsec, lat: latitude, lon: longitude, s:speed(optional), h:heading(optional)},\r\n  {v: \"vehicleId2\", t: epochTimeMsec, lat: latitude, lon: longitude,  s: speed(optional), h: heading(optional)},  {etc...}]</p>. Can also specify assignment info using  \"assignmentId: 4321, assignmentType: TRIP_ID\"  where assignmentType can be BLOCK_ID, ROUTE_ID, TRIP_ID, or  TRIP_SHORT_NAME.",
        "operationId": "pushAvlData_1",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/addAVLExport": {
      "post": {
        "tags": [
          "report",
          "avl"
        ],
        "summary": "Add AVL export",
        "description": "Add AVL export",
        "operationId": "addAVLReport",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "avlDate",
            "in": "query",
            "description": "AVL date(MM-DD-YYYY or YYYY-MM-DD).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/gtfs-rt/vehiclePositions": {
      "get": {
        "tags": [
          "GTFS",
          "feed"
        ],
        "summary": "GTFS-realtime Vehicle Positions data for all vehicles.",
        "description": "Gets real time vehicle position feed. It might be in human readeable format or binary.",
        "operationId": "getGtfsRealtimeVehiclePositionsFeed",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "If specified as human, it will get the output in human readable format. Otherwise will output data in binary format",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              },
              "application/x-protobuf": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/gtfs-rt/tripUpdates": {
      "get": {
        "tags": [
          "GTFS",
          "feed"
        ],
        "summary": "GTFS-realtime trip data.",
        "description": "Gets real time trip feed. It might be in human readeable format or binary.",
        "operationId": "getGtfsRealtimeTripFeed",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "If specified as human, it will get the output in human readable format. Otherwise will output data in binary format",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              },
              "application/x-protobuf": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/{key}/command/predictionsByLoc": {
      "get": {
        "tags": [
          "prediction"
        ],
        "summary": "Gets predictions from server by location",
        "description": "Gets a list of prediction by location for all angencies managed by the api.",
        "operationId": "getPredictions",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "maxDistance",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 1500.0
            }
          },
          {
            "name": "numPreds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiNearbyPredictionsForAgenciesResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiNearbyPredictionsForAgenciesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/{key}/command/agencies": {
      "get": {
        "tags": [
          "base data",
          "agency"
        ],
        "summary": "Rerives all tha agencies managed by the server.",
        "description": "Retrieves all tha agencies managed by the server.",
        "operationId": "getAgencies",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAgenciesResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAgenciesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/reports/tripsWithTravelTimes": {
      "get": {
        "tags": [
          "base data",
          "trips"
        ],
        "summary": "Gets the arrivals and departures data of a trips.",
        "description": "Gets the arrivals and departures data of a trips.",
        "operationId": "getTripsWithTravelTimes",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Begin date(YYYY-MM-DD).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/reports/tripsByDate": {
      "get": {
        "tags": [
          "base data",
          "trip"
        ],
        "summary": "Gets the trips by date.",
        "description": "Gets the trips by date.",
        "operationId": "getTrips",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date(YYYY-MM-DD).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/reports/tripWithTravelTimes": {
      "get": {
        "tags": [
          "base data",
          "trip"
        ],
        "summary": "Gets the arrivals and departures data of a trip.",
        "description": "Gets the arrivals and departures data of a trip.",
        "operationId": "getTripWithTravelTimes",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "tripId",
            "in": "query",
            "description": "Trip id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Begin date(YYYY-MM-DD).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/reports/scheduleAdh": {
      "get": {
        "tags": [
          "report",
          "route",
          "schedule adherence"
        ],
        "summary": "Returns schedule adherence report.",
        "description": "Returns schedule adherence report.",
        "operationId": "scheduleAdhReport",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Route id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beginDate",
            "in": "query",
            "description": "Begin date(MM-DD-YYYY or YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numDays",
            "in": "query",
            "description": "Num days.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "beginTime",
            "in": "query",
            "description": "Begin time(HH:MM)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "End time(HH:MM)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowableEarly",
            "in": "query",
            "description": "Allowable early in mins(default 1.0)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "allowableLate",
            "in": "query",
            "description": "Allowable late in mins(default 4.0",
            "required": false,
            "schema": {
              "type": "string",
              "default": "4.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/reports/schedStopAdh": {
      "get": {
        "tags": [
          "report",
          "stop",
          "schedule adherence"
        ],
        "summary": "Returns schedule adherence report for single stop.",
        "description": "Returns schedule adherence report for single stop.",
        "operationId": "reportForStopById",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Stop id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beginDate",
            "in": "query",
            "description": "Begin date(MM-DD-YYYY or YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numDays",
            "in": "query",
            "description": "Num days.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "beginTime",
            "in": "query",
            "description": "Begin time(HH:MM)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "End time(HH:MM)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowableEarly",
            "in": "query",
            "description": "Allowable early in mins(default 1.0)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "allowableLate",
            "in": "query",
            "description": "Allowable late in mins(default 4.0",
            "required": false,
            "schema": {
              "type": "string",
              "default": "4.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/reports/predAccuracyScatterData.jsp": {
      "get": {
        "tags": [
          "reports-resource"
        ],
        "operationId": "predAccuracyScatterData",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/reports/predAccuracyRangeData.jsp": {
      "get": {
        "tags": [
          "reports-resource"
        ],
        "operationId": "predAccuracyRangeData",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/reports/predAccuracyIntervalsData.jsp": {
      "get": {
        "tags": [
          "reports-resource"
        ],
        "operationId": "predAccuracyIntervalsData",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/reports/lastAvlJsonData": {
      "get": {
        "tags": [
          "report",
          "avl",
          "vehicle"
        ],
        "summary": "Returns AVL Json data for last 24 hours.",
        "description": "Returns AVL Json data for last 24 hours.",
        "operationId": "getLastAvlJsonData",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/reports/data/summaryScheduleAdherence.jsp": {
      "get": {
        "tags": [
          "reports-resource"
        ],
        "operationId": "summaryScheduleAdherence",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/reports/avlReport": {
      "get": {
        "tags": [
          "report",
          "vehicle"
        ],
        "summary": "Returns avl report.",
        "description": "Returns avl report.",
        "operationId": "getAvlReport",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "Vehicle id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "beginDate",
            "in": "query",
            "description": "Begin date(MM-DD-YYYY or YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numDays",
            "in": "query",
            "description": "Num days.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "beginTime",
            "in": "query",
            "description": "Begin time(HH:MM)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "End time(HH:MM)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "screenShot",
            "in": "query",
            "description": "For Screenshot",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/vehicles": {
      "get": {
        "tags": [
          "vehicle",
          "prediction"
        ],
        "summary": "Returns data for all vehicles or for the vehicles specified via the query string.",
        "description": "Returns data for all vehicles or for the vehicles specified via the query string.",
        "operationId": "getVehicles",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "Vehicles is list.",
            "required": false,
            "schema": {
              "type": "array",
              "default": [],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Specifies which vehicles to get data for.",
            "required": false,
            "schema": {
              "type": "array",
              "default": [],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "s",
            "in": "query",
            "description": "Specifies a stop so can get predictions for routes and determine which vehicles are the ones generating the predictions. The other vehicles are labeled as minor so they can be drawn specially in the UI.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numPreds",
            "in": "query",
            "description": "Number of predictions to show.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiVehiclesResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiVehiclesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/vehiclesToBlock": {
      "get": {
        "tags": [
          "transitime-resource"
        ],
        "summary": "Returns data for vehicles assignment for specific block id",
        "description": "Returns data for vehicles assignment for specific block id",
        "operationId": "getVehiclesToBlock",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "actual",
            "in": "query",
            "description": "If set 'true', returns only the data with actual time windows.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "blockId",
            "in": "query",
            "description": "Block id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiVehicleToBlockResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiVehicleToBlockResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/vehiclesDetails": {
      "get": {
        "tags": [
          "vehicle"
        ],
        "summary": "Returns detailed data for all vehicles or for the vehicles specified via the query string",
        "description": "Returns detailed data for all vehicles or for the vehicles specified via the query string. This data  includes things not necessarily intended for the public, such as schedule adherence and driver IDs.",
        "operationId": "getVehiclesDetails",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "Specifies which vehicles to get data for",
            "required": false,
            "schema": {
              "type": "array",
              "default": [],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Specifies which routes to get data for",
            "required": false,
            "schema": {
              "type": "array",
              "default": [],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "s",
            "in": "query",
            "description": "Specifies a stop so can get predictions for routes and determine which vehicles are the ones generating the predictions. The other vehicles are labeled as minor so they can be drawn specially in the UI. ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numPreds",
            "in": "query",
            "description": " For when determining which vehicles are generating thepredictions so can label minor vehicles",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 3
            }
          },
          {
            "name": "onlyAssigned",
            "in": "query",
            "description": " Return only assigned vehicles",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiVehiclesDetailsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiVehiclesDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/vehicleLocation": {
      "get": {
        "tags": [
          "vehicle"
        ],
        "summary": "It gets the location for the specified vehicle.",
        "description": "It gets the location for the specified vehicle.",
        "operationId": "getVehicleLocation",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "Specifies the vehicle from which to get the location from.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/vehicleIds": {
      "get": {
        "tags": [
          "vehicle"
        ],
        "summary": "Gets the list of vehicles Id",
        "operationId": "getVehicleIds",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIdsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/vehicleConfigs": {
      "get": {
        "tags": [
          "vehicle"
        ],
        "summary": "Returns a list of vehilces with its configurarion.",
        "description": "Returns a list of vehicles coniguration which inclides description, capacity, type and crushCapacity.",
        "operationId": "getVehicleConfigs",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiVehicleConfigsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiVehicleConfigsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/vehicleAdherenceSummary": {
      "get": {
        "tags": [
          "prediction"
        ],
        "summary": "Returns the counters  for the number of current vehicles running early, late or on time. ",
        "description": "Returns the amount of vehicles running  early, late or on time. Besides specify the amount of vehicles no predictables and the amount of active blocks.",
        "operationId": "getVehicleAdherenceSummary",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "allowableEarlySec",
            "in": "query",
            "description": "The number of seconds early a vehicle has to be before it is considered in the early counter.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "allowableLateSec",
            "in": "query",
            "description": "The number of seconds early a vehicle has to be before it is considered in the late counter.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "t",
            "in": "query",
            "description": "A block will be active if the time is between the block start time minus allowableBeforeTimeSecs (t) and the block end time",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAdherenceSummary"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAdherenceSummary"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/triparrivaldeparturecachedata": {
      "get": {
        "tags": [
          "cache"
        ],
        "summary": "Returns the arrivals and departures for a trip on a specific day and start time.",
        "description": "Returns a list  of the arrivals and departures for a trip on a specific day and start time.Either tripId or date must be specified.",
        "operationId": "getTripArrivalDepartureCacheData",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "tripId",
            "in": "query",
            "description": "if specified, returns the list for that tripId.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "if specified, returns the list for that date.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DateParam"
            }
          },
          {
            "name": "starttime",
            "in": "query",
            "description": "if specified, returns the list for that starttime.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiArrivalDeparturesResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiArrivalDeparturesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/trip": {
      "get": {
        "tags": [
          "base data",
          "trip"
        ],
        "summary": "Gets the configuration data of a trip.",
        "description": "Gets the configuration data of a trip",
        "operationId": "getTrip",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "tripId",
            "in": "query",
            "description": "Trip id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTrip"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTrip"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/tripWithTravelTimes": {
      "get": {
        "tags": [
          "base data",
          "trip"
        ],
        "summary": "Gets the configuration data of a trip.",
        "description": "Gets the configuration data of a trip. Includes all sub-data such as trip patterns",
        "operationId": "getTripWithTravelTimes_1",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "tripId",
            "in": "query",
            "description": "Trip id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTripWithTravelTimes"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTripWithTravelTimes"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/tripPatterns": {
      "get": {
        "tags": [
          "base data",
          "trip"
        ],
        "summary": "Retrives a list of all trip patters.",
        "description": "Retrives a list of all trip patters for the specific routeId or routeShortName.",
        "operationId": "getTripPatterns",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Specifies the routeId or routeShortName.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTripPatternsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTripPatternsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/tripIds": {
      "get": {
        "tags": [
          "base data",
          "trip"
        ],
        "summary": "Retrives a list of all tripIds",
        "description": "Retrives a list of all tripIds.",
        "operationId": "getTripIds",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIdsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIdsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/stops": {
      "get": {
        "tags": [
          "base data",
          "stop"
        ],
        "summary": "Retrives bus stops from the server.",
        "description": "Returns all stops associated with a route, grouped by direction. Useful for creating a UI where user needs to select a stop from a list.",
        "operationId": "getStops",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "if set, retrives only busstops belongind to the route. It might be routeId or route shrot name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDirectionsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDirectionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/stoparrivaldeparturecachedata": {
      "get": {
        "tags": [
          "cache"
        ],
        "summary": "Returns a list of current arrival or departure events for a specified stop that are in the cache.",
        "description": "Returns a list of current arrival or departure events for a specified stop that are in the cache.",
        "operationId": "getStopArrivalDepartureCacheData",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "stopid",
            "in": "query",
            "description": "Stop Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiArrivalDeparturesResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiArrivalDeparturesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/siri/vehicleMonitoring": {
      "get": {
        "tags": [
          "SIRI",
          "feed"
        ],
        "summary": "Returns vehicleMonitoring vehicle information in SIRI format.",
        "description": "It is possible to specify vehicleIds, routeIds, or routeShortNames to get subset of data. If not specified then vehicle information for entire agency is returned.",
        "operationId": "getVehicles_1",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "List of vehicles id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "List of routesId or routeShortName",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiriVehiclesMonitoring"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SiriVehiclesMonitoring"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/siri/stopMonitoring": {
      "get": {
        "tags": [
          "SIRI",
          "feed"
        ],
        "summary": "Returns stopMonitoring vehicle information in SIRI format.",
        "description": "It is possible to specify vehicleIds, routeIds, or routeShortNames to get subset of data. It is possible to specify the number of perdictions per stop. If not specified then vehicle information for entire agency is returned.",
        "operationId": "getVehicles_2",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "RoutesId or routeShortName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s",
            "in": "query",
            "description": "StopIds",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numPreds",
            "in": "query",
            "description": "Number of predictions",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiriStopMonitoring"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SiriStopMonitoring"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/serviceIds": {
      "get": {
        "tags": [
          "base data",
          "serviceId"
        ],
        "summary": "Retrives all service id.",
        "description": "Retrives all service id.",
        "operationId": "getServiceIds",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIdsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIdsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/serviceIdsWithBlocks": {
      "get": {
        "tags": [
          "base data",
          "serviceId"
        ],
        "summary": "Retrives all service id with block ids.",
        "description": "Retrives all service id with block ids.",
        "operationId": "getServiceIdsWithBlocks",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiServiceIdResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiServiceIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/scheduledbasedhistoricalaveragecachekeys": {
      "get": {
        "tags": [
          "cache"
        ],
        "summary": "Gets a list of the keys that have values in the historical average cache for schedules based services.",
        "description": "Gets a list of the keys that have values in the historical average cache for schedules based services.",
        "operationId": "getSchedulesBasedHistoricalAverageCacheKeys",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHistoricalAverageCacheKeysResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHistoricalAverageCacheKeysResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/scheduleVertStops": {
      "get": {
        "tags": [
          "base data",
          "schedule"
        ],
        "summary": "Retrives schedule for the specified route.",
        "description": "Retrives schedule for the specified route.  The data is output such that the stops are listed vertically (and the trips are horizontal). For when there are a good number of stops but not as many trips, such as for commuter rail.",
        "operationId": "getScheduleVertStops",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Specifies the routeId or routeShortName.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSchedulesVertStopsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSchedulesVertStopsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/scheduleHorizStops": {
      "get": {
        "tags": [
          "base data",
          "schedule"
        ],
        "summary": "Retrives schedule for the specified route.",
        "description": "Retrives schedule for the specified route.  The data is output such that the stops are listed horizontally (and the trips are vertical). For when there are a good number of stops but not as many trips, such as for commuter rail.",
        "operationId": "getScheduleHorizStops",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Specifies the routeId or routeShortName.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSchedulesHorizStopsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSchedulesHorizStopsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/routes": {
      "get": {
        "tags": [
          "base data",
          "route"
        ],
        "summary": "Gets the list of routes.",
        "description": "Gets a list of the existing routes in the server. It might be filtered according to routeId or routeShortName. If more than one route have the same shortName, it is possible to specify keepDuplicates parameter to show all of them. ",
        "operationId": "getRoutes",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "List of routeId or routeShortName. Example: r=1&r=2",
            "required": false,
            "schema": {
              "type": "array",
              "default": [],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "keepDuplicates",
            "in": "query",
            "description": "Return all routes when more than one have the same shortName.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRoutesResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRoutesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/routesDetails": {
      "get": {
        "tags": [
          "base data",
          "route"
        ],
        "summary": "Provides detailed information for a route.",
        "description": "Provides detailed information for a route includes all stops and paths such that it can be drawn in a map.",
        "operationId": "getRouteDetails",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "List of routeId or routeShortName. Example: r=1&r=2",
            "required": false,
            "schema": {
              "type": "array",
              "default": [],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "d",
            "in": "query",
            "description": "If set then only the shape for specified direction is marked as being for the UI.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s",
            "in": "query",
            "description": "If set then only this stop and the remaining ones on the trip pattern are marked as being for the UI and can be highlighted. Useful for when want to emphasize in the UI only  the stops that are of interest to the user.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tripPattern",
            "in": "query",
            "description": "If set then only the specified trip pattern is marked as being for the UI",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRoutesDetailsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRoutesDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/routesDetailsByStopId": {
      "get": {
        "tags": [
          "base data",
          "route"
        ],
        "summary": "Provides detailed information for a route.",
        "description": "Provides detailed information for a route includes specified stop Id and paths such that it can be drawn in a map.",
        "operationId": "getRouteDetailsByStopId",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Stop id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRoutesDetailsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiRoutesDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/resetVehicle": {
      "get": {
        "tags": [
          "command",
          "vehicle"
        ],
        "summary": "Reset a vehicle",
        "description": "This is to give the means of manually setting a vehicle unpredictable and unassigned so it will be reassigned quickly.",
        "operationId": "getVehicles_3",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "List of vechilesId.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/removeVehicleToBlock/{id}": {
      "get": {
        "tags": [
          "vehicle",
          "block"
        ],
        "summary": "Add vehicles to block",
        "description": "Add vehicles to block",
        "operationId": "removeVehicleToBlock",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "vehicle to block id to remove.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/reenableTrip/{tripId}": {
      "get": {
        "tags": [
          "command",
          "trip"
        ],
        "summary": "Revert the canceled trip.",
        "description": "It will work olny with the active tripIt cancel a trip that has no vehicle assigned.",
        "operationId": "reenableTrip",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "tripId",
            "in": "path",
            "description": "tripId to remove the canceled satate.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "at",
            "in": "query",
            "description": "start trip time like \"20270707 13:30\"",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/pushMeasuredArrivalTime": {
      "get": {
        "tags": [
          "command"
        ],
        "summary": "Reads in information from request and stores arrival information into db",
        "description": "For storing a measured arrival time so that can see if measured arrival time via GPS is accurate.",
        "operationId": "pushAvlData_2",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Route id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rShortName",
            "in": "query",
            "description": "Route short name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s",
            "in": "query",
            "description": "Route stop id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "d",
            "in": "query",
            "description": "Direcction id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headsign",
            "in": "query",
            "description": "headsign.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/predictions": {
      "get": {
        "tags": [
          "prediction"
        ],
        "summary": "Gets predictions from server",
        "operationId": "getPredictions_1",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "rs",
            "in": "query",
            "description": "List of route/stops to return predictions for. If route not specified then data will be returned for all routes for the specified stop. The route specifier is the route id or the route short name. It is often best to use route short name for consistency across configuration changes (route ID is not consistent for many agencies). The stop specified can either be the stop ID or the stop code. Each route/stop is separated by the \"|\" character so for example the query string could have \"rs=43|2029&rs=43|3029\"",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "s",
            "in": "query",
            "description": "List of stops to return predictions for. Can use either stop ID or stop code.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "numPreds",
            "in": "query",
            "description": "Maximum number of predictions to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiPredictionsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiPredictionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/predictionsByLoc": {
      "get": {
        "tags": [
          "prediction"
        ],
        "summary": "Gets predictions from server by location",
        "operationId": "getPredictions_2",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude of the location in decimal degrees.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude of the location in decimal degrees.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "maxDistance",
            "in": "query",
            "description": "How far away a stop can be from the location (lat/lon).",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 1500.0
            }
          },
          {
            "name": "numPreds",
            "in": "query",
            "description": "Maximum number of predictions to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiPredictionsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiPredictionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/kalmanerrorcachekeys": {
      "get": {
        "tags": [
          "kalman",
          "cache"
        ],
        "summary": "Gets the list of Kalman Cache error.",
        "description": "Gets the list of Kalman Cache error.",
        "operationId": "getKalmanErrorCacheKeys",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKalmanErrorCacheKeysResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKalmanErrorCacheKeysResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/holdingtimecachekeys": {
      "get": {
        "tags": [
          "cache"
        ],
        "summary": "Gets a list of the keys for the holding times in the cache.",
        "description": "Gets a list of the keys for the holding times in the cache.",
        "operationId": "getHoldingTimeCacheKeys",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHoldingTimeCacheKeysResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHoldingTimeCacheKeysResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/historicalaveragecachedata": {
      "get": {
        "tags": [
          "cache"
        ],
        "summary": "Returns the historical cache value for an individual stop path index of a trip.",
        "description": "Returns the historical cache value for an individual stop path index of a trip.",
        "operationId": "getHistoricalAverageCacheData",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "tripId",
            "in": "query",
            "description": "Trip Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stopPathIndex",
            "in": "query",
            "description": "Stop path index",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHistoricalAverage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHistoricalAverage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/getstoppathpredictions": {
      "get": {
        "tags": [
          "cache"
        ],
        "summary": "Returns a list of predictions for a the stop path of a trip.",
        "description": "Returns a list of predictions for a the stop path of a trip.",
        "operationId": "getStopPathPredictions",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "algorithm",
            "in": "query",
            "description": "Algorith used for calculating the perdiction",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tripId",
            "in": "query",
            "description": "Trip Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stopPathIndex",
            "in": "query",
            "description": "Stop path index",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Specified the date.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DateParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiPredictionsForStopPathResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiPredictionsForStopPathResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/getkalmanerrorvalue": {
      "get": {
        "tags": [
          "kalman",
          "cache"
        ],
        "summary": "Returns the latest Kalman error value for a the stop path of a trip.",
        "description": "Returns the latest Kalman error value for a the stop path of a trip.",
        "operationId": "getKalmanErrorValue",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "tripId",
            "in": "query",
            "description": "Trip Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stopPathIndex",
            "in": "query",
            "description": "Stop path index",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "format": "double"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/getholdingtime": {
      "get": {
        "tags": [
          "cache"
        ],
        "summary": "Returns the IpcHoldingTime for a specific stop Id and vehicle Id.",
        "description": "Returns the IpcHoldingTime for a specific stop Id and vehicle Id.",
        "operationId": "getHoldingTime",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "stopId",
            "in": "query",
            "description": "Stop id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleId",
            "in": "query",
            "description": "Vehicle id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHoldingTime"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHoldingTime"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/getExportFile": {
      "get": {
        "tags": [
          "transitime-resource"
        ],
        "summary": "Return export file",
        "description": "Return export file",
        "operationId": "getExportById",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "export ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/frequencybasedhistoricalaveragecachekeys": {
      "get": {
        "tags": [
          "cache"
        ],
        "summary": "Gets a list of the keys that have values in the historical average cache for frequency based services.",
        "description": "Gets a list of the keys that have values in the historical average cache for frequency based services.<font color=\"#FF0000\">This is not completed and should not be used.<font>",
        "operationId": "getFrequencyBasedHistoricalAverageCacheKeys",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHistoricalAverageCacheKeysResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHistoricalAverageCacheKeysResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/exports": {
      "get": {
        "tags": [
          "export"
        ],
        "summary": "Returns exports list",
        "description": "Returns list of all exports or by type",
        "operationId": "getExports",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Entire list, if unset or '0'; '1' - avl; '2' - stops",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiExportsDataResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiExportsDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/currentServiceIds": {
      "get": {
        "tags": [
          "base data",
          "serviceId"
        ],
        "summary": "Retrives current service id.",
        "description": "Retrives current service id.",
        "operationId": "getCurrentServiceIds",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIdsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIdsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/currentCalendars": {
      "get": {
        "tags": [
          "base data",
          "calendar",
          "serviceId"
        ],
        "summary": "Retrives current calendar infomation.",
        "description": "Retrives current calendar infomation. Only teh calendar that applies to current day",
        "operationId": "getCurrentCalendars",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCalendarsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCalendarsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/cancelTrip/{tripId}": {
      "get": {
        "tags": [
          "command",
          "trip"
        ],
        "summary": "Cancel a trip in order to be shown in GTFS realtime.",
        "description": "It will work olny with the active tripIt cancel a trip that has no vehicle assigned.",
        "operationId": "cancelTrip",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "tripId",
            "in": "path",
            "description": "tripId to be marked as canceled.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "at",
            "in": "query",
            "description": "start trip time like \"20270707 13:30\"",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCommandAck"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/cacheinfo": {
      "get": {
        "tags": [
          "cache"
        ],
        "summary": "Returns the number of entries in the cacheName cache.",
        "description": "Returns the number of entries in the cacheName cache. The name is passed throug the cachename parameter.",
        "operationId": "getCacheInfo",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "cachename",
            "in": "query",
            "description": "Name of the cache",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCacheDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCacheDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/blocks": {
      "get": {
        "tags": [
          "base data",
          "trip",
          "block"
        ],
        "summary": "Retrives configuration data for the specified block ID",
        "description": "Retrives configuration data for the specified block ID. Includes all sub-data such as trips and trip.Every trip is associated with a block.",
        "operationId": "getBlocks",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "blockId",
            "in": "query",
            "description": "Block id to be asked.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiBlocksResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiBlocksResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/blocksTerse": {
      "get": {
        "tags": [
          "base data",
          "trip",
          "block"
        ],
        "summary": "Retrives configuration data for the specified block ID.",
        "description": "Retrives configuration data for the specified block ID. It does not include trip patterns.Every trip is associated with a block.",
        "operationId": "getBlocksTerse",
        "parameters": [
          {
            "name": "stdParameters",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StandardParameters"
            }
          },
          {
            "name": "blockId",
            "in": "query",
            "description": "Block id to be asked.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiBlocksTerseResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiBlocksTerseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/key/f78a2e9a/agency/{agency}/command/block": {
      "get": {
        "tags": [
          "base data",
          "trip",
          "block"
        ],
        "summary": "Retrives configuration data for the specified block ID and service ID",
[...]
